CORE_GATEWAY - grpc/soap.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
    xmlns:wsp="http://www.w3.org/ns/ws-policy"
    xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
    xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://ebbew.be/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ebbew.be/" name="MainService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ebbew.be/" schemaLocation="http://localhost:3007/devstats?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="registerOutgoingStart">
        <part name="parameters" element="tns:registerOutgoingStart"/>
    </message>
    <message name="registerOutgoingStartResponse">
        <part name="parameters" element="tns:registerOutgoingStartResponse"/>
    </message>
    <message name="registerOutgoingEnd">
        <part name="parameters" element="tns:registerOutgoingEnd"/>
    </message>
    <message name="registerOutgoingEndResponse">
        <part name="parameters" element="tns:registerOutgoingEndResponse"/>
    </message>
    <message name="getOutgoingStats">
        <part name="parameters" element="tns:getOutgoingStats"/>
    </message>
    <message name="getOutgoingStatsResponse">
        <part name="parameters" element="tns:getOutgoingStatsResponse"/>
    </message>
    <portType name="Main">
        <operation name="registerOutgoingStart">
            <input wsam:Action="http://ebbew.be/Main/registerOutgoingStartRequest" message="tns:registerOutgoingStart"/>
            <output wsam:Action="http://ebbew.be/Main/registerOutgoingStartResponse" message="tns:registerOutgoingStartResponse"/>
        </operation>
        <operation name="registerOutgoingEnd">
            <input wsam:Action="http://ebbew.be/Main/registerOutgoingEndRequest" message="tns:registerOutgoingEnd"/>
            <output wsam:Action="http://ebbew.be/Main/registerOutgoingEndResponse" message="tns:registerOutgoingEndResponse"/>
        </operation>
        <operation name="getOutgoingStats">
            <input wsam:Action="http://ebbew.be/Main/getOutgoingStatsRequest" message="tns:getOutgoingStats"/>
            <output wsam:Action="http://ebbew.be/Main/getOutgoingStatsResponse" message="tns:getOutgoingStatsResponse"/>
        </operation>
    </portType>
    <binding name="MainPortBinding" type="tns:Main">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="registerOutgoingStart">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registerOutgoingEnd">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="getOutgoingStats">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="MainService">
        <port name="MainPort" binding="tns:MainPortBinding">
            <soap:address location="http://localhost:3007/devstats"/>
        </port>
    </service>
</definitions>